<h1>TOP</h1>
<%= link_to '記事一覧', articles_path %>
<%= link_to 'ユーザー一覧', users_path %>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ユーザー</th>
      <th>限定記事</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.writer %></td>
        <td><%= article.memberOnly %></td>
        <td><%= link_to '詳細', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>